@charset "UTF-8";
// ===================================================================
// サイトの基本設定
// ===================================================================

// 幅関係の設定 -------------------------------------------------------

$width-base: 1200px; // 全体
$width-main: 800px;  // メインエリアの幅
$width-side: 360px;  // サイドバーの幅

// フォントの係の設定------------------------------------------------------

$font-base: "Yu Gothic", Sans-Serif;

// 色関係の設定------------------------------------------------------

$color-black: #1A1A1A;
$color-lightGray: #F3F3F3;

// フォントの係の設定------------------------------------------------------

$maxBreakpoints: (
  xs: "only screen and (max-width: 319px)",
  sm: "only screen and (max-width: 575px)",
  md: "only screen and (max-width: 767px)",
  lg: "only screen and (max-width: 991px)",
  xl: "only screen and (max-width: 1199px)",
);

$minBreakpoints: (
  xs: "only screen and (min-width: 320px)",
  sm: "only screen and (min-width: 576px)",
  md: "only screen and (min-width: 768px)",
  lg: "only screen and (min-width: 992px)",
  xl: "only screen and (min-width: 1200px)",
);